body {
    width: 500px;
    height: 420px;
    padding: 10px;
    text-align: center;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.App {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 100%;
    padding: 1rem;
}

.App-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.75rem;
}

.App-logo {
    width: 70px;
    height: auto;
}

code {
    background: rgba(148, 163, 184, 0.5);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
}
